.movies-card-list {
  list-style-type: none;
  padding: 50px 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .movies-card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 80px 0;
    gap: 30px;
  }
}
@media (min-width: 1280px) {
  .movies-card-list {
    grid-template-columns: repeat(3, 364px);
    column-gap: 24px;
    row-gap: 44px;
  }
}
