.navigation__desktop {
  display: none;
}
.navigation__mobile {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.navigation__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.navigation__list_mob {
  flex-direction: column;
  padding-top: 144px;
}
.navigation__item {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  padding-bottom: 24px;
  padding-right: 20px;
}

.navigation__link {
  text-decoration: none;
  color: #000;
  text-align: right;
  background: #fff;
  border: none;
}
.navigation__item_account {
  background: #f9f9f9;
  border-radius: 20px;
  text-align: center;
  margin-left: 50px;
  padding: 0;
  border: none;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 32px;
  width: 100px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}
.navigation__item_account_mob {
  display: block;
  margin: 444px auto 0;
}
.navigation__link:hover {
  opacity: 0.7;
}

.navigation__close {
  padding: 0;
  background-image: url("../../images/close_btn.svg");
  width: 22px;
  height: 22px;
  background-size: cover;
  position: absolute;
  top: 23px;
  right: 23px;
  border: none;
  background-color: initial;
}

.navigation__close:hover {
  opacity: 0.8;
}
.navigation__link_active{
  padding-bottom: 7px;
}
.navigation__link_active_mob {
  border-bottom: 1px solid #000;
}
@media (min-width: 768px) {
  .navigation__container {
    width: 68%;
  }
}

@media (min-width: 1280px) {
  .navigation__desktop {
    display: flex;
  }
  .navigation__mobile {
    display: none;
  }
}
