.header {
  font-family: "Inter", Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 14px;
  max-width: 1280px;
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}
@media (min-width: 1280px) {
  .header {
    padding: 18px 70px;
  }
}

.header__button {
  text-decoration: none;
  padding: 0;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
  height: 16px;
  width: 64px;
  background-color: inherit;
  color: #fff;
  flex-basis: 60%;
}

@media (min-width: 768px) {
  .header__button {
    font-size: 12px;
    width: 77px;
    flex-basis: 76%;
  }
}
@media (min-width: 1280px) {
  .header__button {
    flex-basis: 85%;
  }
}
.header__button:last-of-type {
  height: 26px;
  color: #000;
  background-color: #2be080;
  border-radius: 3%;
  text-align: center;
  margin-right: 0px;
  flex-basis: 18%;
}
@media (min-width: 768px) {
  .header__button:last-of-type {
    flex-basis: 11%;
    height: 32px;
  }
}

@media (min-width: 1280px) {
  .header__button:last-of-type {
    flex-basis: 7%;
  }
}
