.aboutProject {
  font-family: Inter;
  padding: 70px 18px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
    .aboutProject{
        padding: 90px 50px; 
    }
    
}
@media (min-width: 1280px) {
    .aboutProject{
        padding: 110px 70px; 
    }
    
}
.aboutProject__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: left;
  border-bottom: solid 1px #000;
  margin: 0;
  padding-bottom: 24px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .aboutProject__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 70px;
  }
}

.aboutProject__info {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 0;
  padding-bottom: 16px;
}

@media (min-width: 768px) {
  .aboutProject__info {
    font-size: 20px;
    line-height: 24px;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
@media (min-width: 1280px) {
    .aboutProject__info { 
        transform: translate(-102px, 0px);
    }
}

.aboutProject__description {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin: 0;
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .aboutProject__description {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 93px;
  }
}

@media (min-width: 1280px) {
    .aboutProject__description {
        padding-bottom: 119px;
    }
}

.aboutProject__times{
    display: grid;
    grid-template-columns: 100px 184px;
    grid-template-rows: 2; 
}

@media (min-width: 768px) {
    .aboutProject__times{
        grid-template-columns: 140px 528px;

    } 
}
@media (min-width: 1280px) {
    .aboutProject__times{
        grid-template-columns: 228px 912px;

    } 
}
.aboutProject__week{
    background: #F2F2F2;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    min-height: 26px;
    margin: 0;
    padding-top:10px;
    
}
@media (min-width: 768px) {
    .aboutProject__week{
font-size: 14px;
line-height: 17px;
    }
}

.aboutProject__week:first-of-type{
    background: #2BE080;
}
.aboutProject__text{
    font-family: SuisseIntl;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    color: #A0A0A0;
    min-height: 26px;
    padding-top:10px;
    margin: 0;
    
  

}
.aboutProject__text:first-of-type{
    text-shadow: 0 1px #00000040;
    color: #000;
}
@media (min-width: 768px) {
    .aboutProject__text{
        font-size: 14px;
        line-height: 17px;
    }
}
@media (min-width: 768px) {
.aboutProject__container{
    display: grid;
    gap:30px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
}
@media (min-width: 768px) {
    .aboutProject__container{
        grid-row-gap: 6px;
       
    }
}