.techs {
  font-family: "Inter", Arial, sans-serif;
  padding: 59px 18px;
  box-sizing: border-box;

}
.techs__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: left;
  border-bottom: solid 1px #000;
  margin: 0;
  padding-bottom: 24px;
  margin-bottom: 60px;
}
.techs__info {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0;
  padding-bottom: 24px;
}
.techs__description {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0;
}
.techs__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 84px);
  gap: 10px;
  justify-content: center;
  box-sizing: border-box;
  padding: 50px 0 35px 0;
  margin: 0;
}
.techs__item {
  background-color: #e8e8e8;
  height: 57px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 0;
  padding: 21px 0;
}
@media (min-width: 768px) {
    .techs {
        padding: 83px 50px;
        background: #f5f5f5;
      }
    .techs__title{
font-size: 22px;
line-height: 27px;
margin-bottom: 80px;
    }
    .techs__info{
font-size: 50px;
line-height: 58px;
    }
    .techs__description{
font-size: 12px;
line-height: 18px;
max-width: 460px;
margin: 0 auto;
    }
    .techs__list{
        padding-top: 81px;
        grid-template-columns: repeat(7, 84px);   
    }

}
@media (min-width: 1280px) {
    .techs {
        padding: 93px 70px;
      }
    .techs__title{
margin-bottom: 92px;
    }
    .techs__info{
padding-bottom: 27px;
    }
    .techs__description{
font-size: 12px;
line-height: 18px;
max-width: 460px;
margin: 0 auto;
    }
    .techs__list{
        padding-top: 104px;
        grid-template-columns: repeat(7, 84px);   
    }

}
