.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  padding: 56px 0 30px 0;
  max-width: 1280px;
}
.login__form {
  display: flex;
  flex-direction: column;
}
.login__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 80px;
}

.login__info-input {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: #a0a0a0;
  padding-bottom: 10px;
}
.login__input {
  height: 46px;
  width: 260px;
  border-radius: 8px;
  background: #f9f9f9;
  border: none;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}

.login__button {
  margin-top: 240px;
  height: 45px;
  width: 260px;
  border: none;
  background: #ff6838;
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
}
.login__paragraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #a0a0a0;
}
.login__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #ff6838;
}

@media (min-width: 768px) {
  .login {
    padding: 251px 187px;
    align-items: flex-start;
  }
  .login__title {
    padding-top: 38px;
  }
  .login__button {
    margin-top: 115px;
    width: 396px;
  }
  .login__paragraph {
    font-size: 14px;
    line-height: 17px;
    align-self: center;
  }
  .login__link {
    font-size: 14px;
    line-height: 17px;
  }
  .login__input {
    width: 396px;
  }
}
@media (min-width: 900px) {
    .login__paragraph {
      
        align-self: flex-start;
      }
}
@media (min-width: 1280px) {
    .login {
     padding: 90px 441px;
    }
    .login__title{
        padding-bottom: 38px;
    }
    .login__button{
        margin-top: 156px;
    }
  }