.navTab__button {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: block;
  width: 129px;
  height: 36px;
  background-color: inherit;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .navTab__button {
    margin-top: 92px;
  }
}
@media (min-width: 1280px) {
  .navTab__button {
    margin-top: 146px;
  }
}

.navTab__link {
  text-decoration: none;
}
